body{
  margin: 20px;
  font-family: 'Montserrat', sans-serif; 
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    background-color: #fad7d5;
    position: sticky;
    top: 0;  
    z-index: 1000  }
  
  .menu-bar {
    font-size: 24px;
    cursor: pointer;
    color: #781727;   
    flex: 1;
    display: flex;
    justify-content: flex-start;
    transition: transform 0.3s ease;  }
  
  .nav-links {
    display: flex;
    gap: 30px; 
    justify-content: center;  }

  .nav-links a {
    text-decoration: none;
    color: #781727;  
    transition: 0.4s;  
    font-size: 14px; }
  
  .nav-links a:hover, .nav-links a.active {
    color: #f28aa1;
    font-weight: bold;
    text-decoration: none }

  .logo {
    text-decoration: none;
    width: 45px;  
    height: 45px;
    flex: 1;
    display: flex;
    justify-content: flex-end;  }

  .logo img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover; 
    display: block;  }
  
  .sidebar {
    height: 100%;
    width: 0; 
    position: fixed;
    z-index: 2000;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.8s; 
    padding-top: 90px;  
    border-right: 0.5px solid #f28aa1;  }

  .sidebar a {
    padding: 20px 35px;
    text-decoration: none;
    font-size: 15px;
    color:  #4a202a;
    display: block;
    transition: 0.3s;  }

  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}
.header{
  text-align: left;
  padding: 40px;
  background-image: url('images/img1.png');
  background-size: cover;
  font-family: 'Times New Roman', Times, serif;
  font-size: 58px;
}
.filler{
  text-align: center;
  margin: 20px;
  height: 200px;
  overflow: hidden;
}
.filler img{
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
  display: block;
}
.color{
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 60px;
  padding-top: 60px;
  background-color: #84513e;
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin: 20px;
}
.content{
  display: flex;
  width: 100%;
  padding: 0px;
  gap: 0px;
}
.right-img{
   width: 550px;
   border-radius: 10px;
   height: 620px;
   display: block;
   margin: 20PX;
   padding-right: 300px;
}
.left-img{
   width: 550px;
   border-radius: 10px;
   height: 620px;
   display: block;
   margin: 20PX;
   padding-left: 30px;
}

 .textbox {
   background-color: #FFFFFF;
   width: 60%; 
   padding: 10px;
   border-radius: 10px;
   flex: 1;
  }
  .textbox-operation {
   background-color: #FFFFFF;
   width: 60%; 
   padding-left: 60px;
   border-radius: 10px;
   flex: 1;
  }
  .textbox-about{
   background-color: #FFFFFF;
   width: 60%; 
   padding-left: 300px;
   padding-right: 0px;
   border-radius: 10px;
   flex: 1;
  }
h1{
  color: #FFFFFF;
}
h2{
  font-size: 36px;
  color: #84513e;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif; 
  text-align: center;
}
h3{
  font-size: 48px;
  color: #4a202a;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif; 
  text-align: center;
  margin: 20px;
}
#T1{
  font-size: 58px;
  color: #84513e;
  font-weight: bold;
  font-family: times new roman;
}
#T2{
  font-size: 32px;
  color: #781727;
  font-family: 'Montserrat', sans-serif; 
  font-weight: 575;

}
#T3{
  font-size: 24px;
  color: #D86487;
  font-weight: 550;
}
.pink-btn{
  background-color: #D86487;
  color: #FFFFFF;
  border-radius: 25px;
  border-style: none;
  padding: 10px 30px;
  font-size: 24px;
  font-weight: 550;
  cursor: pointer;
  transition: all 0.3s ease;
}
.contact{
  margin: 20px;
  background: #fad7d5;
  color: #781727;
  padding: 10px 10px;
  justify-content:space-around;
  gap: 0px;
  display: flex;
  max-height: 0;
  opacity: 0;
  transform: translateY(-10px);
  overflow: hidden;

  transition: 
  max-height 0.4s ease, 
  opacity 0.3s ease,
  transform 0.3s ease;
}
.contact.show{
  max-height: 200px;
  opacity: 1;
  transform: translateY(0);
}
.contact-col{
  flex: 1;
  text-align: left;
  padding: 0 20px;
}
.icon{
  width: 16px;
  height: 16px;
  margin-right: 8px;
  vertical-align: middle;
}
.circle-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}
.circle-img{
  width: 200px;             
  border-radius: 50%;       
  object-fit: cover;        
}
p, ol{
  color: #781727;
  font-size: 24px;
  font-family: 'Montserrat', sans-serif; 
  line-height: 1.3;
}
footer{
  color: #781727;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif; 
  line-height: 1.3;
  text-align: right;
}
ol{
  color: #781727;
  font-size: 24px;
  font-family: 'Montserrat', sans-serif; 
  line-height: 2;
  padding-left: 60px;
}
   